* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: black;
}

body.admin-body {
  font: "Quicksand", sans-serif;
  width: 100%;
}

.welkom-admin {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  background-color: #143f6b;
}

.log-uit {
  text-decoration: none;
  padding-left: 11px;
  color: red !important;
}

.reserveren-table {
  margin-top: 100px;
  background-color: rgb(0 0 0 / 25%);
}

.pizza-table {
  margin-top: 100px;
  background-color: rgb(0 0 0 / 25%);
}

th {
  background-color: #143f6b;
  width: 100%;
}

tr th {
  height: 50px;
}

.tdnaam {
  display: flex;
  justify-content: center;
  margin-top: 145px;
}

.pizza-toevoegen-form {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-tracks: center;
  align-items: center;
  background-color: #143f6b;
  padding: 0px 100px;
  margin-bottom: 50px;
  row-gap: 30px;
  column-gap: 30px;
}

.pizza-toevoegen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 50px;
}

input {
  height: 30px;
}

.toevoegen {
  background-color: #6bcb77;
  width: 100px;
  height: 30px;
}

.update-button {
  background-color: #6bcb77;
  width: 75px;
  height: 25px;
}

.delete-button {
  background-color: red;
  width: 75px;
  height: 25px;
}
