* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: white;
}

header {
  height: 150px;
}

.indexbody {
  background: url(/MiniCRUD/image/pizzabackground.jpg);
  background-size: cover;
}

nav {
  background-color: rgb(0 0 0 / 30%);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  nav {
    padding: 3px;
  }
}
@media screen and (max-width: 800px) {
  nav {
    padding: 1.5px;
    flex-direction: column;
  }
}

nav .logo img {
  width: 300px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1285.61px) {
  nav .logo img {
    width: 290px;
    height: 105px;
  }
}
@media screen and (max-width: 1210px) {
  nav .logo img {
    width: 270px;
    height: 100px;
  }
}
@media screen and (max-width: 1100px) {
  nav .logo img {
    width: 250px;
    height: 95px;
  }
}
@media screen and (max-width: 1000px) {
  nav .logo img {
    width: 230px;
    height: 90px;
  }
}
@media screen and (max-width: 800px) {
  nav .logo img {
    width: 210px;
    height: 85px;
  }
}
@media screen and (max-width: 600px) {
  nav .logo img {
    width: 190px;
    height: 80px;
  }
}
@media screen and (max-width: 800px) {
  .logo img {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  nav ul {
    justify-content: space-between;
    padding-left: 0px;
  }
}

nav ul li {
  list-style: none;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1285.61px) {
  nav ul li {
    padding-left: 70px;
  }
}
@media screen and (max-width: 1210px) {
  nav ul li {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1100px) {
  nav ul li {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1000px) {
  nav ul li {
    padding-left: 15px;
  }
}
@media screen and (max-width: 800px) {
  nav ul li {
    flex-direction: column;
    padding-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  nav ul li {
    padding-left: 12px;
  }
}
@media screen and (max-width: 500px) {
  nav ul li {
    padding-left: 8px;
  }
}
@media screen and (max-width: 450px) {
  nav ul li {
    padding-left: 4px;
  }
}
@media screen and (max-width: 400px) {
  nav ul li {
    padding-left: 2px;
  }
}
@media screen and (max-width: 380px) {
  nav ul li {
    padding-left: 1px;
  }
}

.navbutton {
  text-decoration: none;
  letter-spacing: 1px;
  margin: 2px;
  font-size: 20px;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 8px;
  position: relative;
  background-color: #009a44;
  border: none;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 1285.61px) {
  .navbutton {
    padding: 7px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1210px) {
  .navbutton {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .navbutton {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .navbutton {
    font-size: 12px;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .navbutton {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .navbutton {
    font-size: 9px;
  }
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  margin: 2px;
  font-size: 20px;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 8px;
  position: relative;
  border: none;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
nav ul li a:hover {
  color: white;
  margin-top: -10px;
  transition: all 0.2s;
}

@media screen and (max-width: 1285.61px) {
  nav ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1210px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  nav ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  nav ul li a {
    font-size: 12px;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  nav ul li a {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  nav ul li a {
    font-size: 9px;
  }
}

.home-body {
  width: 100%;
}

.home-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .home-container {
    margin: 24px;
    width: 220px;
  }
}
@media screen and (max-width: 1100px) {
  .home-container {
    margin: 22px;
    width: 200px;
  }
}

.home-img {
  font-size: 80px;
  width: 100%;
  height: 900px;
  background-image: url(../image/salami.jpeg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzas {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 25px;
}
.pizzas:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.pizzas:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.pizzabody {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  /* background-image: url(../image/salami.jpg); */
  background-color: rgb(222, 214, 214);
  background-size: cover;
}

.pizza-body {
  width: 100%;
  height: 2000px;
  background-color: rgba(0 0 0 / 40%);
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.pizza-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding-top: 15px;
  flex-direction: row;
  margin-bottom: 25px;
  margin-top: 25px;
  background-color: #009a44;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pizza-naam,
.pizza-prijs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 5px;
}

.pizza-add-button {
  width: 300px;
  height: 90px;
  background-color: #009a44;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-bottom-left-radius: 30px;
}

/* @media screen and (max-width: 1200px) {
  .pizzacontainer {
    margin: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .pizzacontainer {
    margin: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .pizzacontainer {
    margin: 14px;
  }
}
@media screen and (max-width: 900px) {
  .pizzacontainer {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .pizzacontainer {
    margin: 6px;
  }
}
@media screen and (max-width: 600px) {
  .pizzacontainer {
    margin: 4px;
  }
}
@media screen and (max-width: 450px) {
  .pizzacontainer {
    margin: 2px;
  }
}
@media screen and (max-width: 1100px) {
  .pizzacontainer img {
    width: 220px;
  }
}
@media screen and (max-width: 1000px) {
  .pizzacontainer img {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .pizzacontainer img {
    width: 180px;
  }
}
@media screen and (max-width: 800px) {
  .pizzacontainer img {
    width: 160px;
  }
}
@media screen and (max-width: 600px) {
  .pizzacontainer img {
    width: 140px;
  }
}
@media screen and (max-width: 400px) {
  .pizzacontainer img {
    width: 100px;
  }
} */

.maakjekeuze {
  background-color: black;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-size: cover;
}
@media screen and (max-width: 1000px) {
  .maakjekeuze {
    font-size: 33px;
    height: 110px;
  }
}
@media screen and (max-width: 800px) {
  .maakjekeuze {
    font-size: 31px;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .maakjekeuze {
    font-size: 29px;
    height: 90px;
  }
}
@media screen and (max-width: 500px) {
  .maakjekeuze {
    font-size: 27px;
    height: 85px;
  }
}
@media screen and (max-width: 450px) {
  .maakjekeuze {
    font-size: 24px;
  }
}

.pizzacontainer,
input {
  flex-direction: column;
}

.reserveercontainer {
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 1000px) {
  .reserveercontainer {
    font-size: 33px;
    height: 110px;
  }
}
@media screen and (max-width: 800px) {
  .reserveercontainer {
    font-size: 31px;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .reserveercontainer {
    font-size: 29px;
    height: 90px;
  }
}
@media screen and (max-width: 500px) {
  .reserveercontainer {
    font-size: 27px;
    height: 85px;
  }
}
@media screen and (max-width: 450px) {
  .reserveercontainer {
    font-size: 24px;
    height: 85px;
  }
}
@media screen and (max-width: 410px) {
  .reserveercontainer {
    font-size: 21px;
    height: 85px;
  }
}

.hierkunjereserveren {
  width: 100%;
  height: 700px;
}

.reserveerform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 25px;
  width: 100%;
}
.reserveerinput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 37px;
  color: black;
  margin-top: 25px;
}
@media screen and (max-width: 700px) {
  .reserveerinput {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .reserveerinput {
    width: 300px;
  }
}
@media screen and (max-width: 500px) {
  .reserveerinput {
    width: 200px;
  }
}
.bnaam {
  font-size: 35px;
  margin-top: 25px;
}
@media screen and (max-width: 700px) {
  .bnaam {
    font-size: 32px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .bnaam {
    font-size: 29px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .bnaam {
    font-size: 26px;
    margin-top: 10px;
  }
}

.datum {
  font-size: 35px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .datum {
    font-size: 32px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .datum {
    font-size: 29px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 500px) {
  .datum {
    font-size: 26px;
    margin-top: 10px;
  }
}
.reserveerinputdate {
  width: 200px;
  height: 100px;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  .reserveerinputdate {
    width: 175px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    height: 75px;
  }
}
@media screen and (max-width: 600px) {
  .reserveerinputdate {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    height: 50px;
  }
}
@media screen and (max-width: 500px) {
  .reserveerinputdate {
    width: 125px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    height: 25px;
  }
}

.reserveerafbeelding2 {
  width: 100%;
  height: 100%;
  background-image: url(../image/reserveerjpg.jpg);
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
  background-size: cover;
}

.reserveertitel {
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #009a44;
  border-radius: 8px;
  box-shadow: 5px 4px 2px 2px black;
  margin-top: 20px;
}

.reserveerbutton {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 25px;
}
@media screen and (max-width: 700px) {
  .reserveerbutton {
    font-size: 24px;
    width: 175px;
  }
}
@media screen and (max-width: 600px) {
  .reserveerbutton {
    font-size: 22px;
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .reserveerbutton {
    font-size: 20px;
    width: 125px;
  }
}

.reserveerbutton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.reserveerbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.inlogformulier {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  background-image: url(../image/inlog.jpeg);
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 700px) {
  .inlogformulier {
    height: 600px;
  }
}
@media screen and (max-width: 500px) {
  .inlogformulier {
    height: 400px;
  }
}

.inloggen {
  font-size: 75px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .inloggen {
    font-size: 60px;
    height: 125px;
  }
}
@media screen and (max-width: 700px) {
  .inloggen {
    font-size: 50px;
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .inloggen {
    font-size: 40px;
    height: 75px;
  }
}
@media screen and (max-width: 500px) {
  .inloggen {
    font-size: 30px;
    height: 50px;
  }
}

.inlogform {
  width: 300px;
  border-radius: 25px;
  font-size: 35px;
}
@media screen and (max-width: 800px) {
  .inlogform {
    font-size: 30px;
  }
}
@media screen and (max-width: 600px) {
  .inlogform {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .inlogform {
    font-size: 20px;
  }
}

.inloginput[type="text"],
.inloginput[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

.submit {
  background-color: #009a44;
  padding: 14px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  height: auto;
  position: relative;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
}
.submit:after {
  transition-duration: 0.75s;
  color: white;
  transition-duration: 0.1s;
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.loginbutton {
  background-color: #009a44;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  position: relative;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  width: 275px;
  height: 75px;
}
@media screen and (max-width: 1200px) {
  .loginbutton {
    width: 250px;
  }
}
@media screen and (max-width: 1100px) {
  .loginbutton {
    width: 225px;
  }
}
@media screen and (max-width: 1000px) {
  .loginbutton {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .loginbutton {
    width: 215px;
  }
}
@media screen and (max-width: 700px) {
  .loginbutton {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .loginbutton {
    width: 185px;
  }
}
.loginbutton:after {
  transition-duration: 0.75s;
  color: white;
  transition-duration: 0.1s;
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 300%;
  margin-left: -20px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s;
}
.loginbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.reserveerbuttonfooter {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 20px;
  color: #ffffff;
  width: 275px;
  height: 75px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
  letter-spacing: 1px;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .reserveerbuttonfooter {
    width: 260px;
  }
}
@media screen and (max-width: 1100px) {
  .reserveerbuttonfooter {
    width: 245px;
  }
}
@media screen and (max-width: 1000px) {
  .reserveerbuttonfooter {
    width: 230px;
  }
}
@media screen and (max-width: 900px) {
  .reserveerbuttonfooter {
    width: 215px;
  }
}
@media screen and (max-width: 700px) {
  .reserveerbuttonfooter {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .reserveerbuttonfooter {
    width: 185px;
  }
}

.reserveerbuttonfooter:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.reserveerbuttonfooter:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

@media screen and (max-width: 1200px) {
  .reserveerbuttonfooter,
  .loginbutton {
    position: column;
  }
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

footer {
  width: 100%;
  background-color: rgb(0 0 0 / 30%);
  list-style: none;
  display: flex;
  padding-right: 50px;
}
@media screen and (max-width: 1000px) {
  footer {
    padding-right: 43px;
  }
}
@media screen and (max-width: 900px) {
  footer {
    padding-right: 36px;
  }
}
@media screen and (max-width: 800px) {
  footer {
    padding-right: 29px;
  }
}
@media screen and (max-width: 700px) {
  footer {
    padding-right: 22px;
  }
}
@media screen and (max-width: 600px) {
  footer {
    padding-right: 15px;
  }
}
@media screen and (max-width: 500px) {
  footer {
    padding-right: 8px;
  }
}
@media screen and (max-width: 400px) {
  footer {
    padding-right: 5px;
  }
}

footer li {
  opacity: 0.7;
}
@media screen and (max-width: 700px) {
  footer p {
    margin-top: 25px;
    font-size: 23px;
  }
}

footer p {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}
@media screen and (max-width: 700px) {
  footer li {
    font-size: 14px;
  }
}

.footerborder {
  width: 100%;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 800px) {
  .footerborder {
    margin-left: 30px;
  }
}
@media screen and (max-width: 700px) {
  .footerborder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

.social {
  display: flex;
  align-items: top;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 50px;
  margin-right: 25px;
}
@media screen and (max-width: 700px) {
  .social {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin-top: 25px; */
  }
}

.social img {
  width: 30px;
  justify-content: flex-end;
}
@media screen and (max-width: 900px) {
  .social img {
    width: 25px;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 800px) {
  .social img {
    width: 20px;
  }
}

.footercontainer ul {
  list-style: none;
}

.footerimg img {
  margin-top: 15px;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .footerimg img {
    margin-right: 7px;
  }
}
@media screen and (max-width: 600px) {
  .footerimg img {
    margin-right: 4px;
  }
}

.search-form {
  color: black !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.search-input {
  color: black;
}

.search-button {
  color: black;
}
