* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: white;
}

header {
  height: 125px;
}
@media screen and (max-width: 900px) {
  header {
    height: 140px;
  }
}
@media screen and (max-width: 800px) {
  header {
    height: 120px;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 100px;
  }
}

.indexbody {
  background: url(/MiniCRUD/image/pizzabackground.jpg);
  background-size: cover;
}

nav {
  background-color: rgb(0 0 0 / 30%);
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  nav {
    padding: 3px;
  }
}
@media screen and (max-width: 800px) {
  nav {
    padding: 1.5px;
    flex-direction: column;
  }
}

nav .logo img {
  width: 300px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1285.61px) {
  nav .logo img {
    width: 290px;
    height: 105px;
  }
}
@media screen and (max-width: 1210px) {
  nav .logo img {
    width: 270px;
    height: 100px;
  }
}
@media screen and (max-width: 1100px) {
  nav .logo img {
    width: 250px;
    height: 95px;
  }
}
@media screen and (max-width: 1000px) {
  nav .logo img {
    width: 230px;
    height: 90px;
  }
}
@media screen and (max-width: 800px) {
  nav .logo img {
    width: 210px;
    height: 85px;
  }
}
@media screen and (max-width: 600px) {
  nav .logo img {
    width: 190px;
    height: 80px;
  }
}
@media screen and (max-width: 800px) {
  .logo img {
    display: flex;
    justify-content: space-around;
    align-items: space-around;
  }
}

nav ul {
  display: flex;
  justify-content: space-around;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  nav ul {
    justify-content: space-between;
    padding-left: 0px;
  }
}

nav ul li {
  list-style: none;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1285.61px) {
  nav ul li {
    padding-left: 70px;
  }
}
@media screen and (max-width: 1210px) {
  nav ul li {
    padding-left: 50px;
  }
}
@media screen and (max-width: 1100px) {
  nav ul li {
    padding-left: 30px;
  }
}
@media screen and (max-width: 1000px) {
  nav ul li {
    padding-left: 15px;
  }
}
@media screen and (max-width: 800px) {
  nav ul li {
    flex-direction: column;
    padding-left: 10px;
  }
}
@media screen and (max-width: 600px) {
  nav ul li {
    padding-left: 12px;
  }
}
@media screen and (max-width: 500px) {
  nav ul li {
    padding-left: 8px;
  }
}
@media screen and (max-width: 450px) {
  nav ul li {
    padding-left: 4px;
  }
}
@media screen and (max-width: 400px) {
  nav ul li {
    padding-left: 2px;
  }
}
@media screen and (max-width: 380px) {
  nav ul li {
    padding-left: 1px;
  }
}

.navbutton {
  text-decoration: none;
  letter-spacing: 1px;
  margin: 2px;
  font-size: 20px;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 8px;
  position: relative;
  background-color: #009a44;
  border: none;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 1285.61px) {
  .navbutton {
    padding: 7px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1210px) {
  .navbutton {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .navbutton {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  .navbutton {
    font-size: 12px;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .navbutton {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  .navbutton {
    font-size: 9px;
  }
}

.shoppingcart {
  width: 28px;
}

nav ul li a {
  text-decoration: none;
  letter-spacing: 1px;
  margin: 2px;
  font-size: 20px;
  border-radius: 8px;
  width: auto;
  height: auto;
  padding: 8px;
  position: relative;
  border: none;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
nav ul li a:hover {
  color: white;
  margin-top: -10px;
  transition: all 0.2s;
}

@media screen and (max-width: 1285.61px) {
  nav ul li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 1210px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  nav ul li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  nav ul li a {
    font-size: 12px;
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  nav ul li a {
    font-size: 10px;
  }
}
@media screen and (max-width: 400px) {
  nav ul li a {
    font-size: 9px;
  }
}

.home-body {
  width: 100%;
  background-color: black;
  color: black;
}

.home-container {
  background-color: black;
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .home-container {
    margin: 24px;
    width: 220px;
  }
}
@media screen and (max-width: 1100px) {
  .home-container {
    margin: 22px;
    width: 200px;
  }
}

.home-img {
  font-size: 80px;
  width: 100%;
  height: 900px;
  background-image: url(../image/salami.jpg);
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizzas {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 25px;
}
.pizzas:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

/* content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s; */

.pizzas:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.pizza-body {
  width: 100%;
  height: 2000px;
  background-color: rgba(0 0 0 / 40%);
  color: white;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
}

.pizza-container {
  display: flex;
  justify-content: center;
  max-width: 100%;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 20px;
}

.pizza-add-button {
  width: 100px;
  height: 35px;
  background-color: #009a44;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .pizzacontainer {
    margin: 22px;
  }
}
@media screen and (max-width: 1100px) {
  .pizzacontainer {
    margin: 18px;
  }
}
@media screen and (max-width: 1000px) {
  .pizzacontainer {
    margin: 14px;
  }
}
@media screen and (max-width: 900px) {
  .pizzacontainer {
    margin: 10px;
  }
}
@media screen and (max-width: 800px) {
  .pizzacontainer {
    margin: 6px;
  }
}
@media screen and (max-width: 600px) {
  .pizzacontainer {
    margin: 4px;
  }
}
@media screen and (max-width: 450px) {
  .pizzacontainer {
    margin: 2px;
  }
}
@media screen and (max-width: 1100px) {
  .pizzacontainer img {
    width: 220px;
  }
}
@media screen and (max-width: 1000px) {
  .pizzacontainer img {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .pizzacontainer img {
    width: 180px;
  }
}
@media screen and (max-width: 800px) {
  .pizzacontainer img {
    width: 160px;
  }
}
@media screen and (max-width: 600px) {
  .pizzacontainer img {
    width: 140px;
  }
}
@media screen and (max-width: 400px) {
  .pizzacontainer img {
    width: 100px;
  }
}

.maakjekeuze {
  background-color: black;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  background-size: cover;
}

.pizzacontainer,
input {
  flex-direction: column;
}

/* .bestelknop {
  color: black;
  background-color: white;
  border: #009a44 solid 4px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 240px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
.bestelknop:hover {
  background-color: rgba(0 0 0 / 10%);
  border: #009a44 solid 2px;
  transition-duration: 0.75s;
  color: white;
}
.bestelknop:active {
  background-color: #009a44;
  transition-duration: 0.01s;
}
@media screen and (max-width: 1100px) {
  .bestelknop {
    width: 220px;
  }
}
@media screen and (max-width: 1000px) {
  .bestelknop {
    width: 200px;
  }
}
@media screen and (max-width: 900px) {
  .bestelknop {
    width: 180px;
  }
}
@media screen and (max-width: 800px) {
  .bestelknop {
    width: 160px;
  }
}
@media screen and (max-width: 600px) {
  .bestelknop {
    width: 140px;
  }
}
@media screen and (max-width: 400px) {
  .bestelknop {
    width: 100px;
  }
} */

.reserveercontainer {
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hierkunjereserveren {
  width: 100%;
  height: 700px;
}

.reserveerform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 25px;
  width: 100%;
}
.reserveerinput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 37px;
  color: black;
  margin-top: 25px;
}
.bnaam {
  font-size: 30px;
  margin-top: 25px;
}

.datum {
  font-size: 30px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserveerinputdate {
  width: 225px;
  height: 100px;
  color: black;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserveerafbeelding2 {
  width: 100%;
  height: 100%;
  background-image: url(../image/pizzapeperselie.jpg);
  box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
  background-size: cover;
}

.reserveertitel {
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  background-color: #009a44;
  border-radius: 8px;
  box-shadow: 5px 4px 2px 2px black;
  margin-top: 20px;
}

.reserveerbutton {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin: 25px;
}

.reserveerbutton:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.reserveerbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.inlogformulier {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-size: cover;
  background-image: url(../image/inlogpizza.jpg);
  padding-top: 20px;
  padding-bottom: 20px;
}

.inloggen {
  font-size: 45px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inlogform {
  width: 30%;
  border-radius: 25px;
  font-size: 35px;
}

.inloginput[type="text"],
.inloginput[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color: black;
}

.submit {
  background-color: #009a44;
  padding: 14px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  height: auto;
  position: relative;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
}
.submit:after {
  transition-duration: 0.75s;
  color: white;
  transition-duration: 0.1s;
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.submit:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.loginbutton {
  background-color: #009a44;
  padding: 14px 20px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  height: auto;
  position: relative;
  color: #ffffff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  width: 275px;
  height: 75px;
}
.loginbutton:after {
  transition-duration: 0.75s;
  color: white;
  transition-duration: 0.1s;
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 300%;
  margin-left: -20px !important;
  margin-top: -100%;
  opacity: 0;
  transition: all 0.8s;
}
.loginbutton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.maak-een-account {
  background-color: rgb(255, 255, 65);
  padding: 14px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 20px;
  border-radius: 8px;
  height: auto;
  position: relative;
  color: black;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
}
.maak-een-account:after {
  transition-duration: 0.75s;
  color: white;
  transition-duration: 0.1s;
  content: "";
  background: white;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.maak-een-account:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.reserveerbuttonfooter {
  position: relative;
  background-color: #ff1700;
  border: none;
  font-size: 20px;
  color: #ffffff;
  width: 275px;
  height: 75px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  margin-top: 5px;
  letter-spacing: 1px;
}

.reserveerbuttonfooter:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.reserveerbuttonfooter:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: rgb(0 0 0 / 30%);
  list-style: none;
  display: flex;
}

.footerborder {
  width: 100%;
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  align-content: center;
}

.footerborder b {
  font-size: 25px;
  margin-bottom: 10px;
}

.footerfixed1 ul li b {
  padding-bottom: 10px;
}

.social {
  display: flex;
  align-items: top;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-left: 25px;
  margin-right: 25px;
}
.social img {
  width: 30px;
  justify-content: flex-end;
}

.footercontainer ul {
  list-style: none;
}

.footerimg img {
  margin-top: 15px;
  margin-right: 10px;
}

.footerbutton {
  margin: 2px;
  display: flex;
  flex-direction: column;
}
